@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="page-header">
    <div class="col-md-1 col-md-offset-2">
        @Html.ActionLink("New Post", "New", "Posts")
    </div>
</div>
<div class="category-list">@{Html.RenderAction("Categories", "Posts");}</div>
<div class="main-section">@RenderBody()</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
