@using System.Globalization
@using System.Web.Optimization
@using Training.Models
@model Training.ViewModels.PostPageViewModel

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

@{
    var postChangedDescription = TempData[TempDataConstants.PostChanged];

    if (postChangedDescription != null)
    {
        <div class="text-info">
            <p>@postChangedDescription</p>
        </div>
    }
}

@if (Model.Posts.Count == 0)
{
    <h3>Nothing has been posted yet</h3>
}
else
{
    foreach (var post in Model.Posts)
    {
        var formattedPostId = post.Id.ToString("N");

        <div class="post-header-container">
            <h4 class="post-title">@post.Title</h4>
            <div class="post-link-container">
                <a href="@Url.Action("Edit", "Posts", new { id = formattedPostId })" class="post-link">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                @using (Html.BeginForm("Delete", "Posts", new { id = formattedPostId }, FormMethod.Post, new { @class = "post-link" }))
                {
                    <button type="submit" class="delete-button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                }
            </div>
        </div>
        <div>@post.Body</div>
        <div>
            <span data-utc-time="@post.CreationDateTimeUtc.ToString(CultureInfo.InvariantCulture)"></span>
        </div>
        <hr />
    }
}

@if (Model.TotalPages > 1)
{
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <text>@Html.ActionLink("Previous", "Index", new { category = Model.CategoryName, page = Model.CurrentPage - 1 })</text>
        }
        <span>@Model.CurrentPage</span>
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <text>@Html.ActionLink("Next", "Index", new { category = Model.CategoryName, page = Model.CurrentPage + 1 })</text>
        }
    </div>
}

@Scripts.Render("~/bundles/DateTimeConverter")